### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [228]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "/Users/ericamatrese/Desktop/HeroesofPymoli/Instructions/HeroesofPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [229]:
#total number of players
total_players = purchase_data.SN.value_counts()
total_players = len(total_players)
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [230]:
# basic calculations
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [260]:
#unique items
unique_items = purchase_data["Item Name"].unique()
unique_items
#unique item count
unique_item_count = len(unique_items)
unique_item_count

179

In [233]:
# calculate average purchase price
prices = purchase_data["Price"]
average_price = np.average(prices)
average_price

3.0509871794871795

In [234]:
# calculate total number of purchases
total_purchases = purchase_data["Purchase ID"].value_counts()
total_purchases = total_purchases.sum()
total_purchases

780

In [235]:
#calculate total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [236]:
gender_data = purchase_data[["SN","Gender", "Item ID","Price"]]
gender_data.head()

              SN Gender  Item ID  Price
0        Lisim78   Male      108   3.53
1    Lisovynya38   Male      143   1.56
2     Ithergue48   Male       92   4.88
3  Chamassasya86   Male      100   3.27
4      Iskosia90   Male      131   1.44

In [237]:
#count of male, female, and other/non-disclosed players
gender_count = purchase_data["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [238]:
# Percentage of players by gender
player_percentage = gender_count/total_players *100
player_percentage

Male                     113.194444
Female                    19.618056
Other / Non-Disclosed      2.604167
Name: Gender, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [239]:
gender_data = purchase_data.groupby(["Gender"])
gender_data

In [240]:
#average purchase price by gender
gender_avg_purchases = gender_data["Price"].mean()
gender_avg_purchases

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [241]:
#Total gender purchases

gender_total_purchases = gender_data["Price"].sum()
gender_total_purchases

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [252]:
gender_analysis_df = pd.DataFrame({"Total Count": count_aged,
                                     "Percentage of Players": percentage_of_players})
gender_analysis_df

       Total Count  Percentage of Players
Age
10              17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

## Age Demographics

In [242]:
labels = ["10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 1000]
          
pd.cut(purchase_data["Age"], bins, labels=labels)

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778       10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [243]:
purchase_data["Age"] = pd.cut(purchase_data["Age"], bins, labels=labels)
purchase_data["Age"]

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778       10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [256]:
age_table = purchase_data.groupby("Age").count()
age_table

       Purchase ID   SN  Gender  Item ID  Item Name  Price
Age
10              23   23      23       23         23     23
10-14           28   28      28       28         28     28
15-19          136  136     136      136        136    136
20-24          365  365     365      365        365    365
25-29          101  101     101      101        101    101
30-34           73   73      73       73         73     73
35-39           41   41      41       41         41     41
40+             13   13      13       13         13     13

In [245]:
count_aged = age_table["SN"].nunique()
count_aged

Age
10        17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [246]:
total_value_players = age_table["SN"].value_counts()
percentage_of_players = count_aged / total_players * 100

percentage_of_players

Age
10        2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [253]:
total_value_players = age_table["SN"].value_counts()
percentage_of_players = count_aged / total_players * 100

percentage_of_players

Age
10        2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [254]:
gender_analysis_df = pd.DataFrame({"Total Count": count_aged,
                                     "Percentage of Players": percentage_of_players})
gender_analysis_df

       Total Count  Percentage of Players
Age
10              17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [255]:
#total purchase count by age

purchase_count = age_table["Purchase ID"].count()
purchase_count

Age
10        23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [257]:
#average purchase price by age
average_purchase_price = age_table["Price"].mean()
average_purchase_price

97.5

In [258]:
#total purchases by age

total_purchase_value = age_table["Price"].sum()
total_purchase_value

780

In [ ]:

#need to formatt

#avg_total_purchase_age = total_purchase_value/player_count_formatted
#avg_total_purchase_age

In [259]:
age_info = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": average_purchase_price,
                                 "Total Purchase Value": total_purchase_value,})
                                 
age_info

       Purchase Count  Average Purchase Price  Total Purchase Value
Age
10                 23                    97.5                   780
10-14              28                    97.5                   780
15-19             136                    97.5                   780
20-24             365                    97.5                   780
25-29             101                    97.5                   780
30-34              73                    97.5                   780
35-39              41                    97.5                   780
40+                13                    97.5                   780

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame