### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [113]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
file_to_load = "/Users/ericamatrese/Desktop/HeroesofPymoli/Instructions/HeroesofPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [114]:
#total number of players
total_players = purchase_data.SN.value_counts()
total_players = len(total_players)
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [115]:
# basic calculations
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [116]:
#unique items
unique_items = purchase_data["Item Name"].unique()
unique_items
#unique item count
unique_item_count = len(unique_items)
unique_item_count

179

In [117]:
# calculate average purchase price
prices = purchase_data["Price"]
average_price = np.average(prices)
average_price

3.0509871794871795

In [118]:
# calculate total number of purchases
total_purchases = purchase_data["Purchase ID"].value_counts()
total_purchases = total_purchases.sum()
total_purchases

780

In [119]:
#calculate total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [120]:
gender_data = purchase_data[["SN","Gender", "Item ID","Price"]]
gender_data.head()

              SN Gender  Item ID  Price
0        Lisim78   Male      108   3.53
1    Lisovynya38   Male      143   1.56
2     Ithergue48   Male       92   4.88
3  Chamassasya86   Male      100   3.27
4      Iskosia90   Male      131   1.44

In [121]:
#count of male, female, and other/non-disclosed players
gender_count = purchase_data["Gender"].value_counts()
gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [122]:
# Percentage of players by gender
player_percentage = gender_count/total_players *100
player_percentage

Male                     113.194444
Female                    19.618056
Other / Non-Disclosed      2.604167
Name: Gender, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [123]:
gender_data = purchase_data.groupby(["Gender"])
gender_data

In [124]:
#average purchase price by gender
gender_avg_purchases = gender_data["Price"].mean()
gender_avg_purchases

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [125]:
#Total gender purchases

gender_total_purchases = gender_data["Price"].sum()
gender_total_purchases

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [126]:
gender_analysis_df = pd.DataFrame({"Total Count": count_aged,
                                     "Percentage of Players": percentage_of_players})
gender_analysis_df

NameError: name 'count_aged' is not defined

## Age Demographics

In [ ]:
labels = ["10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 1000]
          
pd.cut(purchase_data["Age"], bins, labels=labels)

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [127]:
purchase_data["Age"] = pd.cut(purchase_data["Age"], bins, labels=labels)
purchase_data["Age"]

NameError: name 'bins' is not defined

In [128]:
age_table = purchase_data.groupby("Age").count()
age_table

     Purchase ID  SN  Gender  Item ID  Item Name  Price
Age
7              9   9       9        9          9      9
8              8   8       8        8          8      8
9              6   6       6        6          6      6
10             9   9       9        9          9      9
11             7   7       7        7          7      7
12             6   6       6        6          6      6
13             4   4       4        4          4      4
14             2   2       2        2          2      2
15            35  35      35       35         35     35
16            30  30      30       30         30     30
17            22  22      22       22         22     22
18            26  26      26       26         26     26
19            23  23      23       23         23     23
20            99  99      99       99         99     99
21            62  62      62       62         62     62
22            70  70      70       70         70     70
23            67  67      67       67         67     67
24            67  67      67       67         67     67
25            59  59      59       59         59     59
26            14  14      14       14         14     14
27            10  10      10       10         10     10
28             5   5       5        5          5      5
29            13  13      13       13         13     13
30            35  35      35       35         35     35
31             7   7       7        7          7      7
32             8   8       8        8          8      8
33            14  14      14       14         14     14
34             9   9       9        9          9      9
35            14  14      14       14         14     14
36             5   5       5        5          5      5
37             7   7       7        7          7      7
38             9   9       9        9          9      9
39             6   6       6        6          6      6
40             6   6       6        6          6      6
41             2   2       2        2          2      2
42             1   1       1        1          1      1
43             1   1       1        1          1      1
44             2   2       2        2          2      2
45             1   1       1        1          1      1

In [129]:
count_aged = age_table["SN"].nunique()
count_aged

21

In [130]:
total_value_players = age_table["SN"].value_counts()
percentage_of_players = count_aged / total_players * 100

percentage_of_players

3.6458333333333335

In [131]:
total_value_players = age_table["SN"].value_counts()
percentage_of_players = count_aged / total_players * 100

percentage_of_players

3.6458333333333335

In [132]:
gender_analysis_df = pd.DataFrame({"Total Count": count_aged,
                                     "Percentage of Players": percentage_of_players})
gender_analysis_df

ValueError: If using all scalar values, you must pass an index

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [133]:
#total purchase count by age

purchase_count = age_table["Purchase ID"].count()
purchase_count

39

In [134]:
#average purchase price by age
average_purchase_price = age_table["Price"].mean()
average_purchase_price

20.0

In [135]:
#total purchases by age

total_purchase_value = age_table["Price"].sum()
total_purchase_value

780

In [ ]:

#need to formatt

#avg_total_purchase_age = total_purchase_value/player_count_formatted
#avg_total_purchase_age

In [136]:
age_info = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": average_purchase_price,
                                 "Total Purchase Value": total_purchase_value,})
                                 
age_info

ValueError: If using all scalar values, you must pass an index

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [144]:
top_spenders = purchase_data.groupby("SN")
top_spenders

In [152]:
purchases_spenders = top_spenders["Purchase ID"].count()
purchases_spenders

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [153]:
avg_purchase_price_spenders = top_spenders["Price"].mean()
avg_purchase_price_spenders

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [159]:
total_purchase_price_spenders = top_spenders["Price"].sum()
total_purchase_price_spenders

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [164]:
top_spender_df = pd.DataFrame({"Purchase Count": purchases_spenders,
                                       "Average Purchase Price": avg_purchase_price_spenders,
                                        "Total Purchase Value": total_purchase_price_spenders,})

In [167]:
# descending order
top_spender_info = top_spender_df.sort_values("Total Purchase Value", ascending=False)
top_spender_info.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [174]:
most_popular_items = purchase_data[["Item ID", "Item Name", "Price"]]
most_popular_items.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [183]:
most_popular_id_name = most_popular_items.groupby(["Item ID", "Item Name"])
most_popular_id_name.head()

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
766       58          Freak's Bite, Favor of Holy Might   4.14
774      101                               Final Critic   4.19
777       67      Celeste, Incarnation of the Corrupted   3.46
778      101                               Final Critic   4.19
779       50                                       Dawn   4.60

[697 rows x 3 columns]

In [172]:
total_most_popular = most_popular_by_id_name["Item Name"].count()
total_most_popular.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              3
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Item Name, dtype: int64

In [185]:
most_popular_average = most_popular_id_name["Price"].mean()
most_popular_average

Item ID  Item Name
0        Splinter                           1.28
1        Crucifer                           3.26
2        Verdict                            2.48
3        Phantomlight                       2.49
4        Bloodlord's Fetish                 1.70
                                            ...
179      Wolf, Promise of the Moonwalker    4.48
180      Stormcaller                        3.36
181      Reaper's Toll                      1.66
182      Toothpick                          4.03
183      Dragon's Greatsword                1.09
Name: Price, Length: 183, dtype: float64

In [186]:
most_popular_price = most_popular_id_name["Price"].sum()
most_popular_price

Item ID  Item Name
0        Splinter                            5.12
1        Crucifer                            9.78
2        Verdict                            14.88
3        Phantomlight                       14.94
4        Bloodlord's Fetish                  8.50
                                            ...
179      Wolf, Promise of the Moonwalker    26.88
180      Stormcaller                         3.36
181      Reaper's Toll                       8.30
182      Toothpick                          12.09
183      Dragon's Greatsword                 3.27
Name: Price, Length: 183, dtype: float64

In [187]:
most_popular_items_df = pd.DataFrame({"Purchase Count": total_most_popular,
                                       "Item Price": most_popular_average,
                                        "Total Purchase Value": most_popular_price,})
most_popular_items_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.28,5.12
1,Crucifer,3,3.26,9.78
2,Verdict,6,2.48,14.88
3,Phantomlight,6,2.49,14.94
4,Bloodlord's Fetish,5,1.70,8.50
...,...,...,...,...
179,"Wolf, Promise of the Moonwalker",6,4.48,26.88
180,Stormcaller,1,3.36,3.36
181,Reaper's Toll,5,1.66,8.30
182,Toothpick,3,4.03,12.09
183,Dragon's Greatsword,3,1.09,3.27

In [188]:
most_popular_items_sorted = most_popular_items_df.sort_values(["Purchase Count"], ascending=False)
most_popular_items_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame